@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

/* font-family: 'Squada One', cursive;
font-family: 'Zen Kaku Gothic New', sans-serif; */

body {
    text-align: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin: 20px;
}

a {
    text-decoration: none;
}

nav {
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Squada One', cursive;
}

nav > a {
    color: #2b2d42;
    margin: 15px;
    font-size: 1.3em;
}

nav > a:active {
    color: #d90429;
    transform: scale(0.98);
}

.active {
    color: #d90429;
}

#logo {
    height: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
}

h1 {
    font-size: 4em;
    margin-top: 100px;
    color: #2b2d42;
    font-family: 'Squada One', cursive;
}

h3 {
    font-size: 2em;
    color: #2b2d42;
    font-family: 'Squada One', cursive;
}

h3:hover {
    color: #edf2f4;
    background: #2b2d42;
}
main {
    border-top: 1px solid #2b2d42;
    border-bottom: 1px solid #2b2d42;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background: #2b2d42;
    color: #edf2f4;
    padding: 30px;
    text-transform: uppercase;
}

div > a {
    color: #edf2f4;
    font-weight: bold;
    margin: 15px;
    font-size: 1.5em;
}

div > img {
    max-width: 600px;
    min-width: 400px;
}

li {
    list-style: none;
}

p > a {
    background-color: #2b2d42;
    color: #edf2f4;
    font-weight: bold;
    text-decoration: underline;
}

.function {
    color: #8d99ae;
}

#container {
    column-count: 2;
    text-align: left;
}

#work {
    break-after: column;
}

#work1, #work2 {
    cursor: pointer;
}
hr {
    border-top: .5px solid #2b2d42;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hidden {
    display: none;
}