@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Zen+Kaku+Gothic+Antique:wght@300;400;700&display=swap');
/* font-family: 'Lekton', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif; */
/*
022B3A
1F7A8C
BFDBF7
E1E5F2
FFFFFF
*/

body {
    text-align: center;
    font-family: 'Lekton', sans-serif;
    line-height: 140%;
    margin: 10vw;
    background-color:#f9f9f9;
}

nav {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


.h1 {
    color: #022B3A;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.h3 {
    color: #022B3A;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    line-height: 100%;
}

.h3:hover {
    color: #f9f9f9;
    background: #022B3A;
}

main {
    border-top: 1px solid #022B3A;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 80%;
}

footer {
    background: #1F7A8C;
    color: #f9f9f9;
    padding: 30px;
    text-transform: uppercase;
}

div > a {
    color: #f9f9f9;
    font-weight: bold;
    margin: 15px;
    font-size: 1.5em;
}

div > img {
    border: 1px solid #022B3A;
}

li {
    list-style: none;
}

p > a {
    background-color: #022B3A;
    color: #f9f9f9;
    font-weight: bold;
    text-decoration: underline;
}

.function {
    color: #1F7A8C;
}

.container {
    column-count: 2;
    text-align: left;
}

#work {
    break-after: column;
}

#work1, #work2, #work3, #work4, #work5, #work6, #work7 {
    cursor: pointer;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7 {
    cursor: pointer;
}

.hidden {
    display: none;
}

#container1, #container2, #container3, #container4, #container5, #container6, #container7 {
    display: inline-grid;
    justify-items: center;
}

#detail1, #detail2, #detail3, #detail4, #detail5, #detail6, #detail7 {
    width: 80%;
}